body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {

}

.footer {
  text-align: center;
  border-top: 1px solid #fab125;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.navbar-default {
  background-color: #FFF6E6;
  border-color: #fab125;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #fab125;
}

.logo {
  text-align: center;
  font-size:40px;
  z-index: 3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 1px 15px rgba(0,0,0,0.05);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAF0lEQVQIHWP8//+/MQMaYELjg7kUCgIASm8DOqGzfp8AAAAASUVORK5CYII=);
  background:rgba(255,166,0,0.1)
}

.logo .fa-rupee{
  font-size:50px;
}

.text-white{
  color: #fff;
}

.text-orange{
  color: #fab125;
}

.toc-header{
  color: #000 !important;
}

.toc {
  list-style-type: none;
  padding:0; margin:0;
}

.toc .toc-item{
  padding-left: 10px;
}

.toc .toc-item.toc-item-indent-1{
  margin-left: 10px;
}

.toc .toc-item.toc-item-indent-2{
  margin-left: 20px;
}

.toc .toc-item.toc-item-indent-3{
  margin-left: 30px;
}

.toc .toc-item.toc-item-indent-4{
  margin-left: 40px;
}
