<h1 class="toc-header">Table of Contents</h1>
<hr />
{% assign posts = site.posts | sort:"categories"  %}
{% assign posts = posts | sort:"date","first"  %}
{% assign current_category = ""  %}
{% assign toc_filter = page.tocfilter %}
<ul class="toc">
  {% for p in posts %}
    {% assign first_category = p.categories | first %}
    {% assign last_category = p.categories | last %}
    {% assign category_size = p.categories | size %}
    <!--
    <li>
          [{{first_category}}, {{toc_filter}}]
    </li>
    -->
    {% if toc_filter == first_category or toc_filter == nil  %}
      {% assign item_type = "item" %}
      {% if p.tocheader %}
      {% assign item_type = "header" %}
      {% endif %}
      {% if current_category != last_category %}
        {% assign current_category = last_category %}
        <!-- 
        <li class="toc-item-category toc-item-category-indent-{{category_size}}">
          [{{current_category}}]
        </li>
        -->
      {% endif %}
      <li class="toc-{{item_type}} toc-{{item_type}}-indent-{{category_size}}">
      {% if p.tocheader %}
      <i class="fa fa-share-alt"></i>
      {% else %}
      <i class="fa fa-file-text-o"></i>
      {% endif %}
        {% if p.url == page.url %}
          <span>{{ p.title }}</span>
        {% else %}
          <a href="{{ site.baseurl }}{{ p.url }}">
            {{ p.title }}
          </a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
