<h1 class="toc-header">Table of Contents</h1>
<hr />
{% assign pages = site.posts | sort:"categories"  %}
{% assign current_category = ""  %}
<ul class="toc">
  {% for p in pages %}
      {% assign last_category = p.categories | last  %}
      {% assign category_size = p.categories | size  %}
      {% if current_category != last_category %}
        {% assign current_category = last_category %}
        <li class="toc-item-category toc-item-category-indent-{{category_size}}">
          [{{current_category}}]
        </li>
      {% endif %}
      <li class="toc-item toc-item-indent-{{category_size}}">
        {% if p.url == page.url %}
          <span>{{ p.title }}</span>
        {% else %}
          <a href="{{ site.baseurl }}{{ p.url }}">
            {{ p.title }}
          </a>
        {% endif %}
      </li>
  {% endfor %}
</ul>
