---
---

@import "{{ site.theme }}";

@media screen and (min-width: 960px) and (max-width: 1200px) {
    .wrapper {
        width:1060px;
    }

    section {
        width:700px;
    }
}

@media screen and (min-width: 1201px) {
    .wrapper {
        width:1160px;
    }

    section {
        width:800px;
    }
}