---
---

@import "{{ site.theme }}";

@media screen and (min-width: 961px) and (max-width: 1080px) {
    .wrapper {
        width:960px;
    }

    section {
        width:600px;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1200px) {
    .wrapper {
        width:1060px;
    }

    section {
        width:700px;
    }
}

@media screen and (min-width: 1201px) {
    .wrapper {
        width:1160px;
    }

    section {
        width:800px;
    }
}

ul.toc{

    border: initial;
    background: initial;
    border-radius: initial;
    list-style-type: initial;
    padding-left: 15px;

    li{

        float: initial;
        width: initial;
        border: initial;
        height: initial;
        color: #727272;
        font-size: 14px;

        a{
            display: initial;
            color: #727272;
            font-size: 14px;
        }
    }
}