---
---

@import "{{ site.theme }}";

@media screen and (min-width: 961px) and (max-width: 1080px) {
    .wrapper {
        width:960px;
    }

    section {
        width:600px;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1200px) {
    .wrapper {
        width:1060px;
    }

    section {
        width:700px;
    }
}

@media screen and (min-width: 1201px) {
    .wrapper {
        width:1160px;
    }

    section {
        width:800px;
    }
}

ul.toc{

    border:initial; // 0px;
    background: initial; //transparent;
    border-radius: initial; //0px;
    list-style-type: initial; //disc;

    li.toc-item{

        float: initial; //none;
        width: initial; //100%;
        border: initial; //0px;
        height: initial;

        a{
            display: initial; //inline;
            font-size: initial; //14px
        }
    }

}